<div class="col-6 mt-5" style="margin: 0 auto; text-align: center">
    <h1> Articles Created </h1>
        <% @bionic.each do |bionic|  %> 
            <ul> 
                <%=  link_to bionic.text_initial, show_bionic_path(id:bionic)%>
            </ul>
         <%end%>
</div>