<div class="col-6 mt-5" style="margin: 0 auto; text-align: center">
    <h1> Articles Created </h1>
        <% @bionic.each do |bionic|  %> 
            <ul> 
                <%=  link_to "text_#{bionic.id}", show_bionic_path(id: bionic)%>
            </ul>
         <%end%>
</div>