<div class="col-6" style="margin: 0 auto">
    <h1> Enter your text here </h1>
    <%= form_with url:"/bionics/view", data:{turbo: "false"} do  |f|%>
        <%= f.text_area :text, class: "form-control", rows: "10", cols: "50" %>
        <%= f.submit "Converter", class: "btn btn-primary btn-lg mt-3" %>
    <% end %>
</div>