<div class="col-6 mt-5" style="margin: 0 auto; text-align: center">
    <div>
        <h2>Text</h2>
        <p><%= @bionics.text_initial %></p>
    </div>
    <br />
    <div>
        <h2>Text Converted</h2>
        <p><%= @bionics.text_converted.html_safe %></p>
    </div>
    <%= link_to 'Edit', edit_bionic_path(id:@bionics.id)%>
    <%= link_to 'Delete', bionic_path(@bionics), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
</div>