@import "bootstrap";

.cover-container{
    max-width: 42em;
}

.nav-masthead .active {
    color: #fff !important;
    border-bottom-color: #fff !important;
}

.nav-masthead .nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

a{
    color: #333;
    text-shadow: none;
    text-decoration: none;
}

.lead {
    font-size: 2.25rem;
    font-weight: 300;
}

.lead_1{
        font-size: 1.25rem;
        font-weight: 300;
}

.reading{
    background-color: #F2F2F7 !important;
}
.text{
    color: black;
}
.border{
    border-radius: 15px;
}